<div class="footer">
  <div class="memu_links">
    <%= link_to 'About Me', about_mes_show_path %>
    <%= link_to 'Skill & Work', skill_works_show_path %>
    <%= link_to 'Contact', contacts_show_path %>
  </div>
</div>