<h1 class="page_ttle">Contact</h1>
<div class="contact-info">
  <p>ご質問、ご用命などございましたら、</p>
  <p>お電話またはメールにて、お気軽にお問い合わせください。</p>
  <div class='address'>
    <p>Tell: 0853-21-4674</p>
    <p>Email: kanayama.madoka@sjc-inc.co.jp</p>
  </div>
</div>


