<h1 class="page_ttle">About Me</h1>
<div class= about-me-contena>
  <div class='me-image'>
    <%= image_tag 'i_am_azarasi.jpg'%>
    <p class='my-name'>
      Azarasi（金山円香）
    </p>
  </div>
  <div class='me-info'>
    <p>美術全般が好きなアザラシです。</p>
    <p>美術系の大学にて、CG・アニメーションの作成を学んだ際に、デジタルを活用したデザインに目覚めました。</p>
    <p>デジタルとデザインの最先端を目指して泳ぎ着いた結果、IT業界にてWebアプリケーションの作成などに携わっています。</p>
    <p>3億円あったら、日本中の美術館と博物館を巡る旅に出かけます。</p>
  </div>
</div>
