<h1 class="page_ttle">Skill & Work</h1>
<div class="skill-work-info">
  <p class='subtitle-skill'>Skill</p>
  <div class='skii-contents-first'>
    <p>ITパスポート（IP）</p>
    <p>基本情報技術者（FE）</p>
    <p>情報セキュリティマネジメント（SG）</p>
  </div>
  <div class='skii-contents-second'>
    <p>Ruby Association Certified Ruby Programmer Silver version 2</p>
    <p>Ruby Association Certified Ruby Programmer Gold version 3</p>
  </div>
</div>
<div class="skill-work-info">
  <p class='subtitle-skill'>Work</p>
</div>


