/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 共通 */

/* image */
body {
  background-image: url("抽象画.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vh;
  height: 100vh;
  position: relative;
}

.me-image {

}

/* header */
.header {
  display: flex;
  font-family: "Jockey One";
  font-size: 48px;
  color: #37372A;
  opacity: 0.9;
  text-decoration: none;
}

/* main_contens */

.main_contents {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* title */

.page_ttle{
  font-family: "Jockey One";
  font-size: 48px;
  color: #37372A;
  opacity: 0.9;
  margin:10px 25%;
}

/* footer */
.footer {
  font-family: "Jockey One";
  font-size:32px;
  color: #37372A;
  opacity: 0.9;
}
.memu_links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.memu_links a {
  text-decoration: none;
}


/* topページ */
.sub_message {
  font-size: 28px;
  color: #8E865F;
  margin:10px 25%;
}

/* about_meページ */
.me-info {
  
}


/* skill & work ページ */

/* contactページ */
.contact-info {

}