<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <body>
    <div calss="main_contents">
      <%= render 'shared/header'%>
      <%= yield %>
      <%= render 'shared/footer'%>
    </div>
  </body>
</html>
