<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <body>
    <div>
      <div calss="main_contents">
        <%= render 'shared/header'%>
        <%= yield %>
        <%= render 'shared/footer'%>
      </div>
    </div>
  </body>
</html>
